
:root {
    --navWidth: 300px;
    font-size: 110%;
}


h1{
    font-size: 3em;
   color: #a33327;
}

h2 {
    margin-top: 4rem;
    font-size: 2rem;
}

h3 {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 200;
    color: #689775;
}

header{
    padding: 1.5rem 3rem;
    display: flex;
}

body{
    --widthB: calc(var(--navWidth) * 1.2);
    margin-left: calc(var(--widthB)) ;
    font-family: "Bahnschrift", Bahnschrift;

    background-color: #9de1ca;
    color:  #f1f1f1;
}

img {
    height: 20em;
    width: auto;
    display: inline-block;
}

.nav{
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--navWidth);
    height: 100%;
    /*background-color: darkred;*/
    background-color: #a33327;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.nav li a{
    color: white;
}

ul { list-style: none; }

.nav.index{
    color: #ff8b00;
}

.nav img{
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 70%;
    display:block;
}

.category{
    margin-left: 2rem;
}

.content {
    margin: 2rem 1rem;
    padding: 2rem 4rem;
    text-align: justify;
    font-weight: 200;
    background-color: #151515;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text-content{
    font-weight: 180;
}

.h4{
    font-weight: 600;
    font-size: 115%;
}

.text-content p{
    margin-top: -1em;
}

footer {
    height: auto;
    width: 80%;
    margin: 50px;
    padding: 20px;
    border: 5px solid darkred;
    background-color: white;
    color: black;
    border-radius: 20px;
}
main {
    margin:auto;
}

.box{
    height: auto;
    width: auto;
    margin: 50px;
    padding: 20px;
    border: 10px solid black;
    background-color: #917164;
    color: black;
    border-radius: 30px;
}


